@{
    ViewBag.Title = "Players";
}

<h2>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <body>

        <h2>Collapsed Borders</h2>
        <p>If you want the borders to collapse into one border, add the CSS border-collapse property.</p>

        <table style="width:100%">
            <tr>
                <th>Team</th>
                <th>Match Played </th>
                <th>Won</th>
                <th>Draw</th>
                <th>Lost</th>
                <th>Point</th>

            </tr>
            <tr>
                <td><a href="Manchester City"> </td>
                
                <td>30</td>
                <td>22</td>
                <td>5</td>
                <td>3</td>
                <td>71</td>
            </tr>
            <tr>
                <td>Manchester United</td>
                <td>29</td>
                <td>16</td>
                <td>9</td>
                <td>4</td>
                <td>57</td>
            </tr>
            <tr>
                <td>Leicester City </td>
                <td>29</td>
                <td>17</td>
                <td>5</td>
                <td>7</td>
                <td>56</td>
            </tr>
            <tr>
                <td>WestHam United</td>
                <td>29</td>
                <td>14</td>
                <td>9</td>
                <td>6</td>
                <td>51</td>
                
            </tr>
            <tr>
                <td>Liverpool</td>
                <td>28</td>
                <td>14</td>
                <td>6</td>
                <td>8</td>
                <td>48</td>
            </tr>
            <tr>
                <td>Everton</td>
                <td>29</td>
                <td>13</td>
                <td>7</td>
                <td>9</td>
                <td>46</td>
            </tr>
            <tr>
                <td>Leeds United</td>
                <td>28</td>
                <td>14</td>
                <td>4</td>
                <td>10</td>
                <td>46</td>
            </tr>
            <tr>
                <td>Arsenal </td>
                <td>28</td>
                <td>13</td>
                <td>6</td>
                <td>9</td>
                <td>45</td>
            </tr>
            <tr>
                <td>Aston Villa</td>
                <td>27</td>
                <td>12</td>
                <td>5</td>
                <td>10</td>
                <td>41</td>
            </tr>
            <tr>
                <td>Fulham</td>
                <td>28</td>
                <td>12</td>
                <td>5</td>
                <td>11</td>
                <td>41</td>
            </tr>
        </table>

    </body>
    @ViewBag.Title.
</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
