@{
    ViewBag.Title = "Club ";
}
<h2>
   
    @ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <style>
        
    </style>
    <body>

        <h2></h2>  
            <p>Manchester City</p> 
            <p>Manchester United</p>
            <p>Leicester City</p>
            <p>WestHam United</p>
            <p>Liverpool</p>
            <p>Everton</p>
            <p>Leeds United</p>
            <p>Arsenal</p>
            <p>Aston Villa</p>
            <p>Fulham</p>
              
    </body>

</address>

<address>
    <style>
       
    </style>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>