@{
    ViewBag.Title = "Contact Us ";
}
<h2>
   
    @ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3> Address </h3>
<address>
    De Montfort University<br />
    Leicester<br />
    <abbr title="Phone"></abbr>
    +447879494654
</address> 
   


 
<h3> Email Us</h3>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@dmu.com">Support@DMU.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@dmu.com">Marketing@DMU.com</a>
</address>
    
   