@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Premier League</h1>
    <p>
        
    </p>
    <p></a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
           <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
        </h2>
        <p>
           
        </p>
        <p><a> </a></p>
    </div>
    <div class="col-md-4">
        <h2>
            <body>

                <h2>The site where everyone can access information on every player from a team. The users can create an account and comment on every player. They will also be able to interact with other users like replying to each other's comments . The user will also be able to delete and edit comments. Each player has a SCORE so that the league table can be used to see the least to most popular player. The users can also watch video segments of a football game.</h2>
                <p>If you want the borders to collapse into one border, add the CSS border-collapse property.</p>
                <style>
                    table, th, td {
                        border: 1px solid black;
                        border-collapse: collapse;
                    }
                </style>
                <table style="width:100%">


                    <tr>
                        <th>Team</th>
                        <th>Match Played </th>
                        <th>Won</th>
                        <th>Draw</th>
                        <th>Lost</th>
                        <th>Point</th>

                    </tr>
                    <tr>

                        <td> Manchester City  </td>
                        <td>30</td>
                        <td>22</td>
                        <td>5</td>
                        <td>3</td>
                        <td>71</td>
                    </tr>
                    <tr>
                        <td>Manchester United </td>
                        <td>29</td>
                        <td>16</td>
                        <td>9</td>
                        <td>4</td>
                        <td>57</td>
                    </tr>
                    <tr>
                        <td>Leicester City </td>
                        <td>29</td>
                        <td>17</td>
                        <td>5</td>
                        <td>7</td>
                        <td>56</td>
                    </tr>
                    <tr>
                        <td>WestHam United</td>
                        <td>29</td>
                        <td>14</td>
                        <td>9</td>
                        <td>6</td>
                        <td>51</td>

                    </tr>
                    <tr>
                        <td>Liverpool</td>
                        <td>28</td>
                        <td>14</td>
                        <td>6</td>
                        <td>8</td>
                        <td>48</td>
                    </tr>
                    <tr>
                        <td>Everton</td>
                        <td>29</td>
                        <td>13</td>
                        <td>7</td>
                        <td>9</td>
                        <td>46</td>
                    </tr>
                    <tr>
                        <td>Leeds United</td>
                        <td>28</td>
                        <td>14</td>
                        <td>4</td>
                        <td>10</td>
                        <td>46</td>
                    </tr>
                    <tr>
                        <td>Arsenal </td>
                        <td>28</td>
                        <td>13</td>
                        <td>6</td>
                        <td>9</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <td>Aston Villa</td>
                        <td>27</td>
                        <td>12</td>
                        <td>5</td>
                        <td>10</td>
                        <td>41</td>
                    </tr>
                    <tr>
                        <td>Fulham</td>
                        <td>28</td>
                        <td>12</td>
                        <td>5</td>
                        <td>11</td>
                        <td>41</td>
                    </tr>


                </table>
                <div class="col-md-4">
                    <h2> Watch games "Let's go"</h2>
                    <p>Watch any of your Footbaall favourite games live, as well as catch up on any previous game.</p>
                    <p><a class="btn btn-default" href="https://www.bbc.com/sport/football/premier-league">View &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Most popular players "Tell me who is your favourite player"</h2>
                    <p>Why don't you support any of the favourite team by looking at the league score and table infomation.</p>
                    <p><a class="btn btn-default" href="https://www.bbc.com/sport/football/premier-league/table">View &raquo;</a></p>
                </div>

            </body>

        </h2>
        <p>.</p>
        <p><a> </a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>.</p>
        <p><a> </a></p>
    </div>
</div>